include basic

//- the url to get slide config information
-var ajax_json = '/ajax/'+slide_id+'.json'
//- the url to get slide deck data
-var ajax_slide = '/html/'+slide_id+'.html'

//- document start here
doctype html
html.decks.edit.dark(data-editor-version="2", data-account="free", data-visibility="all")
  //- common head part with required js/css, etc
      params: tile,token
  +head('CLoWN Online presentation', "40+Zpfyb+b7eRZZkhFV7pLG+NPvXG3YXXH3CG3GZeYQ=")
    script(type="text/javascript").
       $(ajax_include("#{ajax_json}","user-info","var SLConfig=", " "));
       $(ajax_include("#{ajax_slide}","clown_slide"));


  body
    if uses.loader
      .page-loader
         .page-loader-inner
           p.page-loader-message Loading editor
           .page-loader-spinner.spinner

    .page-wrapper
      //- use for both audience and presenter
      .preview-controls
        if uses.resume
          button.button.preview-controls-button.preview-controls-exit.grey.l(data-tooltip="Resume editing", data-tooltip-direction="b", data-tooltip-delay="1000")
            span.icon.i-pen-alt2

        a.button.preview-controls-button.preview-controls-external.grey.l(href="#", target="_blank", data-tooltip="Present this deck", data-tooltip-direction="b")
          span.icon.i-new-window
      .sidebar
        .primary
          button.button.preview(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.i-eye
          button.button.undo(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.i-undo
          button.button.save.disabled.is-saved(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.download.i-disk
            span.icon.check.i-checkmark
            span.spinner.centered(data-spinner-radius="7", data-spinner-length="4", data-spinner-width="2", data-spinner-color="#bbbbbb")
        //- editor panel, disabled for audience
        if uses.sections
           .secondary
              - each val, key in secbtns
                button.button(class=key, data-tooltip=val[0], data-tooltip-alignment="r")
                   span.icon(class=val[1])
                   span.close.icon.i-x

              button.button.more-options
                span.more-options-dot
                span.more-options-dot
                span.more-options-dot
        .scroll-shadow-top
        .scroll-shadow-bottom
        - var hrefs = ['/','/','explore','/users','/'+username]
        + gheader(hrefs, username)
      if uses.sections == true
         include sections
         .sidebar-panel
           if secbtns.settings
              + sec_settings
           if secbtns.style
              + sec_style
           if secbtns.export
              + sec_export
           if secbtns.import
              + sec_import
           if secbtns.share
              + sec_share
           if secbtns.import
              + sec_import

      include sample_slide
      //- var subpage = {type:'sample_slide', h_tip:'Add new slide<br>(Hold shift for blank)', v_tip:'Add new slide<br>(Hold shift for blank)'}
      - var subpage = {type:'sample_slide', h_tip:'添加新幻灯片<br>(按住shift创建空白页)', v_tip:'添加新幻灯片<br>(按住shift创建空白页)'}
      + projector(subpage)
          //- + slide_sample_1


    script#user-info(type="text/javascript")
    - each val in ['front/application', 'front/editor-v2', 'lib/reveal.min','front/ckeditor']
       script(defer="defer", src='javascripts/'+val+'.js')

