include basic

mixin gheader(hrefs, user)
  header.global-header
    .wrapper
      h1.logo-animation Welcom, #{user}
        a.symbol(href=hrefs[0])
          .box-1
          .box-2
          .box-3
        a.word(href=hrefs[1])
      ul.nav
        li.nav-item(data-page-id=hrefs[2])
          a.nav-item-anchor(href=hrefs[3])
            span.nav-item-label Explore
        li.nav-item.profile-button
          a.nav-item-anchor(href=hrefs[4])
            span.nav-item-label #{user}
            span.nav-item-burger
              span.nav-item-burger-1
              span.nav-item-burger-2
              span.nav-item-burger-3




-var ajax_url = '/tmp/'+slide_id+'.json'
doctype html
html.decks.edit.dark(data-editor-version="2", data-account="free", data-visibility="all")
  +head('CLoWN Online presentation', "40+Zpfyb+b7eRZZkhFV7pLG+NPvXG3YXXH3CG3GZeYQ=")
    script(type="text/javascript").
       $(ajax_include("#{ajax_url}","user-info","var SLConfig=", " "));

  body
    .page-loader
      .page-loader-inner
        p.page-loader-message Loading editor
        .page-loader-spinner.spinner
    .page-wrapper
      .preview-controls
        button.button.preview-controls-button.preview-controls-exit.grey.l(data-tooltip="Resume editing", data-tooltip-direction="b", data-tooltip-delay="1000")
          span.icon.i-pen-alt2
        a.button.preview-controls-button.preview-controls-external.grey.l(href="#", target="_blank", data-tooltip="Present this deck", data-tooltip-direction="b")
          span.icon.i-new-window
      .sidebar
        .primary
          button.button.preview(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.i-eye
          button.button.undo(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.i-undo
          button.button.save.disabled.is-saved(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.download.i-disk
            span.icon.check.i-checkmark
            span.spinner.centered(data-spinner-radius="7", data-spinner-length="4", data-spinner-width="2", data-spinner-color="#bbbbbb")
        .secondary
          - var btn2nd = {publish:['Visibility','i-unlock-stroke'], settings:['Settings','i-cog'], style:['style','i-brush'], arrange:['Arrange slides','i-layers'], revisions:['Revision history','i-clock'], import:['Import','i-cloud-upload'], export:['Export','i-cloud-download'], share:['Share','i-share'], about:['About', 'i-star']}
          - each val, key in btn2nd
             button.button(class=key, data-tooltip=val[0], data-tooltip-alignment="r")
                span.icon(class=val[1])
                span.close.icon.i-x

          button.button.more-options
            span.more-options-dot
            span.more-options-dot
            span.more-options-dot
        .scroll-shadow-top
        .scroll-shadow-bottom
        - var hrefs = ['/','/','explore','/users','/'+username]
        + gheader(hrefs, username)
      include sections
      .sidebar-panel
        + sec_settings
        + sec_style
        + sec_export
        + sec_import
        + sec_share
        + sec_import

      include sample_slide
      //- var subpage = {type:'sample_slide', h_tip:'Add new slide<br>(Hold shift for blank)', v_tip:'Add new slide<br>(Hold shift for blank)'}
      - var subpage = {type:'sample_slide', h_tip:'添加新幻灯片<br>(按住shift创建空白页)', v_tip:'添加新幻灯片<br>(按住shift创建空白页)'}
      + projector(subpage)
          + slide_sample_1


    script#user-info(type="text/javascript")
    - each val in ['front/application', 'front/editor-v2', 'lib/reveal.min','front/ckeditor']
       script(defer="defer", src='javascripts/'+val+'.js')

