
block content
  h1= title
  p Welcome to #{title}
  div(id='test')
    h2= test
    p Database test: #{test_db}
    p Socket test: #{test_sc}
  div
    form(action='/upload', method='post', enctype='multipart/form-data')
      input(type='file', id='file1', name='file1')
      br
      button(type='submit', id='btn1', name='btn1') upload
