//
  Created by Foxfi Ning
doctype html
html(lang="en")
  head
    title=pageTitle
    script(src=jquery_src)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet" href="/stylesheets/reveal.min.css")
    link(rel="stylesheet" href="/stylesheets/sky.css" id="theme")

  body
    article.projector
        .reveal-viewport.theme-font-montserrat.theme-color-white-blue
          .reveal
            .slides!=contents
              section.has-dark-background(data-background-image="https://s3.amazonaws.com/media-p.slid.es/uploads/chenwenxiao/images/900107/background.jpg", data-background-color="#9900ff", data-id="1a0a655fbb26117bc93e1355eb7e84d5")
              section
        .icon.add-horizontal-slide(data-tooltip="Add new slide<br>(Hold shift for blank)", data-tooltip-alignment="l", data-tooltip-delay="1500")
          span.icon.i-plus
        .icon.add-vertical-slide(data-tooltip="Add new slide<br>(Hold shift for blank)", data-tooltip-alignment="t", data-tooltip-delay="1500")
          span.icon.i-plus
    

          
    div(class="show-ctrl")
      button(class="endShowBtn")

    p=url

    script(src="/javascripts/utils.js")
    script(type="text/javascript").
      Reveal.initialize(
        {
          controls: true,
          progress: true,
          history: true,
          center: true,
          slideNumber: true,

          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default' 
        });
      UserShowObj = {
        jsonUrl: "#{jsonUrl}",
        showId: "#{showId}",
        passwd: "#{passwd}"
      };
    script(src=socket_src)
    script(src="/javascripts/showing.js")


