mixin gheader(hrefs, user)
  header.global-header
    .wrapper
      h1.logo-animation Welcom, #{user}
        a.symbol(href=hrefs[0])
          .box-1
          .box-2
          .box-3
        a.word(href=hrefs[1])
      ul.nav
        li.nav-item(data-page-id=hrefs[2])
          a.nav-item-anchor(href=hrefs[3])
            span.nav-item-label Explore
        li.nav-item.profile-button
          a.nav-item-anchor(href=hrefs[4])
            span.nav-item-label #{user}
            span.nav-item-burger
              span.nav-item-burger-1
              span.nav-item-burger-2
              span.nav-item-burger-3

mixin front_script(scripts)
  - each val in scripts
     script(defer="defer", src="javascripts/front/"+val)

include edit

doctype html
html.decks.edit.dark(data-editor-version="2", data-account="free", data-visibility="all")
  include head
  + head('CLoWN Online presentation')
  body
    .page-loader
      .page-loader-inner
        p.page-loader-message Loading editor
        .page-loader-spinner.spinner
    .page-wrapper
      .preview-controls
        button.button.preview-controls-button.preview-controls-exit.grey.l(data-tooltip="Resume editing", data-tooltip-direction="b", data-tooltip-delay="1000")
          span.icon.i-pen-alt2
        a.button.preview-controls-button.preview-controls-external.grey.l(href="#", target="_blank", data-tooltip="Present this deck", data-tooltip-direction="b")
          span.icon.i-new-window
      .sidebar
        .primary
          button.button.preview(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.i-eye
          button.button.undo(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.i-undo
          button.button.save.disabled.is-saved(data-tooltip-delay="500", data-tooltip-alignment="r")
            span.icon.download.i-disk
            span.icon.check.i-checkmark
            span.spinner.centered(data-spinner-radius="7", data-spinner-length="4", data-spinner-width="2", data-spinner-color="#bbbbbb")
        .secondary
          - var btn2nd = {publish:['Visibility','i-unlock-stroke'], settings:['Settings','i-cog'], style:['style','i-brush'], arrange:['Arrange slides','i-layers'], revisions:['Revision history','i-clock'], import:['Import','i-cloud-upload'], export:['Export','i-cloud-download'], share:['Share','i-share'], about:['About', 'i-star']}
          - each val, key in btn2nd
             button.button(class=key, data-tooltip=val[0], data-tooltip-alignment="r")
                span.icon(class=val[1])
                span.close.icon.i-x

          button.button.more-options
            span.more-options-dot
            span.more-options-dot
            span.more-options-dot
        .scroll-shadow-top
        .scroll-shadow-bottom
        - var hrefs = ["/","/","explore","/users","/"+username]
        + gheader(hrefs, username)

      .sidebar-panel
        + sec_settings
        + sec_style
        + sec_export
        + sec_import
        + sec_share
        + sec_import


      article.projector
        .reveal-viewport.theme-font-montserrat.theme-color-white-blue
          .reveal
            .slides
              section.has-dark-background(data-background-image="https://s3.amazonaws.com/media-p.slid.es/uploads/chenwenxiao/images/900107/background.jpg", data-background-color="#9900ff", data-id="1a0a655fbb26117bc93e1355eb7e84d5")
              section
        .icon.add-horizontal-slide(data-tooltip="Add new slide<br>(Hold shift for blank)", data-tooltip-alignment="l", data-tooltip-delay="1500")
          span.icon.i-plus
        .icon.add-vertical-slide(data-tooltip="Add new slide<br>(Hold shift for blank)", data-tooltip-alignment="t", data-tooltip-delay="1500")
          span.icon.i-plus
    script(type="text/javascript").
      UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='javascripts/front/f7sH7NavrjjvuGxByaw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

      UserVoice.push(['set', {
      accent_color: '#448dd6',
      trigger_color: 'white',
      trigger_background_color: 'rgba(46, 49, 51, 0.6)',
      position: 'automatic'
      }]);
      UserVoice.push(['identify', {
      email:      "chenwenxiao@live.cn",
      name:       "chenwenxiao",
      id:         "248705",
      type:       "default",
      created_at: 1417746430
      }]);
      var SLConfig = {"current_user":{"id":248705,"username":"chenwenxiao","name":null,"email":"chenwenxiao@live.cn","description":null,"thumbnail_url":"https://www.gravatar.com/avatar/442a4877f0ece41c1903d9eb714fb61b?s=140\u0026d=https%3A%2F%2Fs3.amazonaws.com%2Fstatic.slid.es%2Fimages%2Fdefault-profile-picture.png","pro":false,"enterprise":false,"enterprise_manager":false,"notify_on_receipt":false,"billing_address":null,"editor_tutorial_completed":true,"settings":{"id":63494,"present_controls":true,"present_upsizing":true,"editor_grid":true,"editor_snap":true,"developer_mode":false},"registered":true},"deck":{"id":303028,"slug":"deck--3","title":"deck","description":"","visibility":"all","published_at":"2014-12-05T02:46:25.345Z","sanitize_messages":null,"thumbnail_url":"https://s3.amazonaws.com/media-p.slid.es/thumbnails/chenwenxiao/bc3b65/deck--3.jpg","view_count":3,"user":{"id":248705,"username":"chenwenxiao","name":null,"email":"chenwenxiao@live.cn","description":null,"thumbnail_url":"https://www.gravatar.com/avatar/442a4877f0ece41c1903d9eb714fb61b?s=140\u0026d=https%3A%2F%2Fs3.amazonaws.com%2Fstatic.slid.es%2Fimages%2Fdefault-profile-picture.png","pro":false,"enterprise":false,"enterprise_manager":false,"notify_on_receipt":false,"billing_address":null,"editor_tutorial_completed":true,"settings":{"id":63494,"present_controls":true,"present_upsizing":true,"editor_grid":true,"editor_snap":true,"developer_mode":false},"registered":true},"background_transition":"slide","transition":"slide","theme_id":null,"theme_font":"montserrat","theme_color":"white-blue","auto_slide_interval":0,"comments_enabled":true,"forking_enabled":true,"rolling_links":false,"center":false,"should_loop":false,"rtl":false,"version":2,"access_token":"GpRLWceTs1pPHdnxfxFAF3Bi8yzr","notes":{}}};

    + front_script(['application.js', 'editor-v2.js'])
    script(defer="defer", src="javascripts/reveal.min.js")
    script(defer="defer", src="javascripts/front/ckeditor.js")
