//
  Created by Foxfi Ning
include basic

doctype html
html(lang="en")
  head
    title=pageTitle
    script(src=jquery_src)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet" href="/stylesheets/reveal.min.css")
    link(rel="stylesheet" href="/stylesheets/sky.css" id="theme")
  body
    input.presIdInput
    button.startWatchBtn 开始观看

    .reveal-viewport.theme-font-montserrat.theme-color-white-blue
      .reveal.slide
        div(class="slides" style="width: 960px; height:700px; zoom:0.5")
    aside.presentation-controls
      .presentation-controls-content(style="height:166px;")
        ul.messages
      footer.presentation-controls-footer
        input.inputMessage(placeholder="Type here")
      .sl-scroll-shadow-top(style="height:10px; opacity:0; top:0px;")
      .sl-scroll-shadow-bottom(style="height:10px; opacity:1; bottom:121px;")




    script(src=reveal_src)
    script(src=head_src)

    if _dev
      script(src="js/front/clown.min.js")
    else
      + modern

    script(src="/javascripts/utils.js")
    script(src="/javascripts/watching.js")
    script(src=socket_src)